
.button1 {
    border-radius: 20px;
    background-color: #259c9b;
    border: none;
    color: #fef0db;
    font-family: "Century Gothic", serif;
    /*text-align: center;*/
    font-size: 20px;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    /*margin-top: 15px;*/
    margin-left: 15px;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button1:hover span {
    padding-right: 25px;
}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}